*{
margin :0;
padding :0;
border:0;
}
.Container{
    background-image: url("D:..\img\Cabecera.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    padding: 20px;
    width: 80%;
}

header{
    width:auto;
    height: 100px;
    padding: 2rem;
    background: rgb(191, 199, 199);

}
.main {
    width :80%;
    margin: auto;
    padding: 20px;
}

td{
    width :200px;
}

td img {
    padding: auto;
   width: 100%; 
}
td p{
    text-align: center;
    padding-left: 2 rem;
}
footer {
    
    color: white;
    background-color: tomato;
    text-align: center;
    height: 70px;
   
}
footer a {
    color :white;
    text-decoration:none;

}